<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.mapper.ApplyMapper">
  	 
  	 <select id="getSkill" resultType="com.itwillbs.domain.SkillVO">
  	 	select SUBSTRING_INDEX (SUBSTRING_INDEX(skill.skill_nm,',',numbers.n),',',-1) skill_nm, SUBSTRING_INDEX (SUBSTRING_INDEX(skill.skill_lev,',',numbers.n),',',-1) skill_lev 
  	 	from (select 1 n union all select 2 union all select 3 union all select 4 union all select 5 union all
  	 	select 6 union all select 7 union all select 8 union all select 9 union all select 10) numbers INNER JOIN skill 
  	 	on char_length (skill.skill_nm) - char_length(replace(skill.skill_nm,',',''))>=numbers.n-1
  	 	where proj_no = 141;
  	 </select>
  	 
  	 <insert id="applyProj">
  	 	insert into apply_mgmt (free_no,proj_no,skillCheck1,skillCheck2,skillCheck3,skillCheck4,skillCheck5,
  	 	skillCheck6,skillCheck7,skillCheck8,skillCheck9,skillCheck10,content) values (#{free_no},#{proj_no},#{skillCheck1},
  	 	#{skillCheck2},#{skillCheck3},#{skillCheck4},#{skillCheck5},#{skillCheck6},#{skillCheck7},#{skillCheck8},
  	 	#{skillCheck9},#{skillCheck10},#{content})
  	 </insert>
  
  </mapper>