<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.mapper.BoardMapper">
  	 
  	 
  	 <!-- 프로젝트 목록 -->
  	 <select id="projList" resultType="com.itwillbs.domain.ProjectVO">
  	 	select * from project
  	 	where deadline > now()
  	 </select>
  	 
  	 <!-- 프로젝트 갯수 -->
  	 <select id="pNum" resultType="int">
  	 	select count(*)
		from project
		where deadline > now()
  	 </select>
  	 
<!--   	 페이징 처리
  	 <select id="pListPaging" resultType="com.itwillbs.domain.ProjectVO" parameterType="com.itwillbs.domain.Criteria">
  	 	<![CDATA[
			select * 
			from project
			where deadline > now()
			order by reg_date DESC
			limit #{amount} offset #{offset}
			
  	 	]]>
  	 </select> -->
  	 <!-- 페이징 처리 skill, region 조인  -->
  	 <select id="pListPaging" resultType="com.itwillbs.domain.ProjectVO" parameterType="com.itwillbs.domain.Criteria">
  	 	<![CDATA[
			select p.proj_no, p.proj_title, p.proj_cost , p.deadline, p.work_field, p.reg_date, r.region, r.district, s.skill_nm
			from project p
			left join skill s
			on p.proj_no = s.proj_no
			left join region r
			on p.proj_no = r.proj_no
			where deadline > now()
			order by reg_date DESC
			limit #{amount} offset #{offset}
			
  	 	]]>
  	 </select>
  	 
  	 <!-- 정렬 limit 쿼리 -->
  	 <select id="proLSort" resultType="com.itwillbs.domain.ProjectVO">
	  	 <![CDATA[
			select p.proj_no, p.proj_title, p.proj_cost , p.deadline, p.work_field, p.reg_date, r.region, r.district, s.skill_nm
			from project p
			left join skill s
			on p.proj_no = s.proj_no
			left join region r
			on p.proj_no = r.proj_no
			where deadline > now()
			order by ${sn} DESC
			limit ${amount} offset #{offset}
		]]>
  	 </select>
  	 
  	 
  	 <!-- 게시판 필터 -->
  	 <select id="proFi" resultType="com.itwillbs.domain.ProjectVO">
  	 	<![CDATA[
			select p.proj_no, p.proj_title, p.proj_cost , p.deadline, p.work_field, p.reg_date, r.region, r.district, s.skill_nm
			from project p
			left join skill s
			on p.proj_no = s.proj_no
			left join region r
			on p.proj_no = r.proj_no
			where deadline > now() and work_field = #{work_field}
			order by reg_date DESC
			limit #{amount} offset #{offset}
  	 	]]>
  	 </select>
  	 
  	 <!-- 필터된 게시물 숫자 -->
  	 <select id="fiNum" resultType="int" parameterType="com.itwillbs.domain.ProjectVO" >
  		 <![CDATA[
  	 	select count(*)
		from project
		where deadline > now() and work_field = #{work_field}
		]]>
  	 </select>
  	 
  	 <!-- 프로젝트 상세페이지  -->
  	 <select id="dePro" resultType="com.itwillbs.domain.ProjectVO">
  	 	select * from project
  	 	where proj_no=#{proj_no}
  	 </select>
  	 
  	   	 <!-- 프리랜서 수 -->
  	 <select id="fNum" resultType="int">
  	 	select count(*)
		from freelancer
  	 </select>
  	 
  	 <!-- 프리랜서 페이징 처리 -->
  	 <select id="fListPaging" resultType="com.itwillbs.domain.FreelancerVO" parameterType="com.itwillbs.domain.Criteria">
  	 	<![CDATA[
			select * 
			from freelancer
			order by reg_date DESC
			limit #{amount} offset #{offset}
			
  	 	]]>
  	 </select>
  	 
  </mapper>