@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
    background: #fff !important;
    margin-top:20px;
	font-family: "Nanum Gothic", sans-serif !important;
}

#mainImg {
	position: absolute;
	left:880px;
	bottom:280px; 
}

#mainText {
	font-weight: bolder;
	line-height: 60px;
	padding-left: 330px;
}

#mainProjMenu {
	font-weight: bolder;
	line-height: 60px;
	position: absolute;
	left:330px;
	bottom:90px;
}
 
#subText {
	color: #808080;
	padding-left: 330px;
	line-height: 40px;
}

#mainCount {
	text-align: center;
	padding-top: 50px;" 
}

#logoText{
	text-align: center;
	font-size: large;
	font-weight: bolder;
	margin-top: 100px;
	margin-bottom: 50px;
}

.mainButt {
	width: 400px;
	position: absolute;
	bottom: 300px;
	left:330px;
}

.butt1 {
	background-color: #31b9a9;
	border: solid 1px #31b9a9;
	color: #fff;
}

.butt2 {
	background-color: #fff;
	border: solid 1px #31b9a9;
	color: #31b9a9;
}

.butt3 {
	background-color: #31b9a9;
	border: solid 2px #31b9a9;
	color: #fff;
	text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
	width:250px;
	font-size: 20px
}

.logo{
	margin-right: 70px;
}

.siteCount {
	display:inline-block;
}

.siteCount>p {
	font-size:30px;
	font-weight: bolder;
}

/* 흐르는 이미지 */
.slider {
	overflow: hidden;
	position: relative;
	width: 1440px;
	height: 65px;
	box-sizing: border-box;
	margin: auto;
}

.image-box {
	width: 12000px;
	height:100%;
	display: flex;
	flex-wrap: nowrap;
	animation: bannermove 100s linear infinite;

}

.image_box>div {
	margin: 0px -1px 0px 0px;
}

@keyframes bannermove {
	0% {
		transform:translate(0,0);
	}
	100% {
		transform:translate(-50%,0);
	}
}
/* 흐르는 이미지 */

